{% assign dir = page.url | split: "/" %}

<!DOCTYPE html>
<html>
  <head>
    <title>A Website</title>
    <link rel="stylesheet" href="https://eisoptrophobia.github.io/index.css">
  </head>
  <body>
    <header class="header sticky sticky--top js-header">
     <div class="grid">
      <nav class="navigation">
       <ul class="navigation__list navigation__list--inline">
        <li class="navigation__item"><a href="https://eisoptrophobia.github.io/" class="is-active">Home</a></li>
        <li class="navigation__item"><a href="https://eisoptrophobia.github.io/about">About</a></li>
        <li class="navigation__item"><a href="https://eisoptrophobia.github.io/tools">Tools</a></li>
        <li class="navigation__item"><a href="https://eisoptrophobia.github.io/games">Games</a></li>
        <li class="navigation__item"><a href="https://eisoptrophobia.github.io/links">Links</a></li>
        <li class="navigation__item"><a href="https://eisoptrophobia.github.io/downloads">Downloads</a></li>
        <li class="navigation__item"><a href="https://eisoptrophobia.github.io/random">Random</a></li>
        <li class="navigation__item"><a href="https://www.google.com/search?q=gorillas&tbm=isch">Gorillas</a></li>
       </ul>
      </nav>
     </div>
    </header>
    <main class="main">
     <div class="grid">
      {{ dir[1] }}
      {{ content }}
     </div>
    </main>
  </body>
</html>
