---
layout: default
---
<link rel="stylesheet" href="https://eisoptrophobia.github.io/entrylist.css">

{% for item in page.items %}


<div id="page-{{ item }}" class="pageentry">
    <h2 class="name"></h2>
    <p class="description"></p>
</div>
<script>
  var xhttp_{{ item }} = new XMLHttpRequest();
  xhttp_{{ item }}.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var data = JSON.parse(this.responseText);
      document.querySelector("#page-{{ item }}").onclick = () => {
        window.location = "https://eisoptrophobia.github.io" + data.url;
      }
      document.querySelector("#page-{{ item }} .name").innerText = data.name;
      document.querySelector("#page-{{ item }} .description").innerText = data.description;
    }
  }
  xhttp_{{ item }}.open("GET", "https://eisoptrophobia.github.io/{{ page.tab }}/{{ item }}/data.json");
  xhttp_{{ item }}.send();
</script>

{% endfor %}
